@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

head, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.0313rem;
  font-weight: 400;
}

svg {
  height: 1rem;
  width: 1rem;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
}

* {
  grid-column: 2 / -1;
}

nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  height: 100vh;
  width: 16rem;
  padding-top: 4rem;
  -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);
}

nav::before {
  content: 'Navigation';
  position: absolute;
  font-size: 1.25rem;
  letter-spacing: 0.0095rem;
  font-weight: 500;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 0.25rem;
}

nav ul li {
  width: 100%;
  height: 3rem;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 0.875rem;
  letter-spacing: 0.0156rem;
  font-weight: 400;
  color: #000;
  height: 100%;
  margin: 0;
  border-radius: 0.25rem;
  -webkit-transition: 150ms;
  transition: 150ms;
}

nav ul li a:hover, nav ul li a:focus {
  background: rgba(102, 31, 255, 0.12);
}

nav ul li a:active {
  background: rgba(102, 31, 255, 0.12);
}

nav ul li a::before {
  content: '';
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

nav ul li:nth-of-type(1) a::before {
  background-image: url("https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/info-black-18dp.svg");
}

nav ul li:nth-of-type(2) a::before {
  background-image: url("https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/article-black-18dp.svg");
}

nav ul li:nth-of-type(3) a::before {
  background-image: url("https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/code-black-18dp.svg");
}

nav ul li:nth-of-type(4) a::before {
  background-image: url("https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/folder-black-18dp.svg");
}

nav ul li:nth-of-type(5) a::before {
  background-image: url("https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/style-black-18dp.svg");
}

nav ul li:nth-of-type(6) a::before {
  background-image: url("https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/build_circle-black-18dp.svg");
}
/*# sourceMappingURL=style.css.map */