
// Material for Style Stage by Robert Manders.
// https://github.com/Rob-Manders


// This theme is based on the Material Design specification available at https://material.io/.

// I have attempted to adhere to the Material component specifications as closely as
// possible, though some concessions may have been made in order to remain within the 
// confines of the Style Stage guidelines.

// Written in Sass and compiled using the Live Sass Compiler for VS Code.


// External resources used:
// Normalize.css 8.0.1: https://necolas.github.io/normalize.css/
// Google Fonts Roboto: https://fonts.google.com/specimen/Roboto
// Material Design icons: https://material.io/resources/icons/
// Material Design logo: https://commons.wikimedia.org/wiki/File:Google_Material_Design_Logo.svg


@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import './global/variables';
@import './global/typography';
@import './global/mixins';

@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}

html {
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;	
}

*::selection {
	background: $primary-background;
}

head, body {
	margin: 0;
	padding: 0;
	background: $page-background;
}

body {
	position: relative;
	font-family: $roboto;
	@include type-body1;
}

svg {
	height: 1rem;
	width: 1rem;
}

a {
	color: $primary-darker;
	transition: $transition;

	&:hover,
	&:focus {
		color: $secondary-darker;
	}
}

@import 'grid';
@import 'background';

@import './sections/nav';
@import './sections/header';
@import './sections/main';
@import './sections/aside';
@import './sections/footer';