
// TODO: Fix skip link...

.skip-link {
	grid-column: 2 / 3;
	grid-row: 1 / -1;
	text-align: center;
	@include type-overline;
	text-decoration: none;
	color: $primary;
	margin-top: 0.5em;
	padding: 0;
	display: inline-block;
}

header {
	margin-top: 1rem;
}