
main {
	padding: 0 1rem;

	#about .container,
	#guidelines .container,
	#contribute {
		@include container;

		h2 {
			@include type-headline2;
			margin: 0;
		}
	}

	@media (max-width: $large) {
		#main,
		#about,
		#guidelines,
		#contribute,
		#files {
			scroll-margin-top: 5rem;
		}
	}

	#about {
		.container:first-of-type > p {
			padding-right: 1rem;
			margin: 0.5rem 0;
		}

		blockquote {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			padding-left: 1rem;
			border-left: 1px solid $dark-background;

			strong {
				display: block;
				@include type-headline5;
			}

			p {
				margin: 0;
			}
		}

		.container:last-of-type {
			ul {
				list-style: none;
				padding: 0;
				display: flex;
				flex-wrap: wrap;

				li {
					background: $dark-background;
					margin: 0.25rem 0.5rem;
					margin-left: 0;
					padding: 0.25rem 0.75rem;
					border-radius: 1rem;
				}
			}
		}
	}

	#guidelines .container > a {
		@include button;
		margin: 0;
	}

	#files .container {	
		> a {
		@include button;
		display: inline-flex;
		margin: 0;

			+ a {
				margin-left: 0.5rem;
			}
		}
	}
}