
nav {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	position: sticky;
	top: 0;
	background: white;
	height: 100vh;
	width: 16rem;
	padding-top: 4rem;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);

	&::before {
		content: 'Navigation';
		position: absolute;
		@include type-headline6;
		top: 0;
		left: 0;
		height: 4rem;
		width: 100%;
		display: flex;
		align-items: center;
		// padding-bottom: 1.3125rem;
		padding-left: 1rem;
		border-bottom: 1px solid $on-surface-background;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 0.25rem;

		li {
			width: 100%;
			height: 3rem;

			margin: 0.25rem 0;
			padding: 0 0.5rem;

			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				@include type-body2;
				color: $on-surface;
				height: 100%;
				margin: 0;
				border-radius: $border-radius;
				transition: 150ms;

				&:hover,
				&:focus {
					background: $primary-background;
				}

				&:active {
					background: $primary-background;
				}

				&::before {
					content: '';
					background-size: 100% 100%;
					width: 24px;
					height: 24px;
					margin: 0 0.5rem;
				}
			}

			// About
			&:nth-of-type(1) a::before {
				background-image: url('https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/info-black-18dp.svg');
			}
			
			// Guidelines
			&:nth-of-type(2) a::before {
				background-image: url('https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/article-black-18dp.svg');
			}

			// Contribute
			&:nth-of-type(3) a::before {
				background-image: url('https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/code-black-18dp.svg');
			}

			// Files
			&:nth-of-type(4) a::before {
				background-image: url('https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/folder-black-18dp.svg');
			}

			// All Styles
			&:nth-of-type(5) a::before {
				background-image: url('https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/style-black-18dp.svg');
			}

			// Resources
			&:nth-of-type(6) a::before {
				background-image: url('https://raw.githubusercontent.com/Rob-Manders/Style-Stage-Material/main/icons/build_circle-black-18dp.svg');
			}
		}
	}
}