
/// Colours

$page-background: rgb(221, 221, 221);

$surface: #fff;

$on-surface: #000;
$on-surface-background: rgba(0,0,0,0.12);

$primary: rgb(104, 59, 183);
$primary-background: rgba(104, 59, 183, 0.12);

$primary-darker: rgb(81, 46, 168);

$secondary: rgb(255, 87, 34);
$secondary-darker: rgb(230, 74, 25);


/// Misc

$border-radius: 0.25rem;
$box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
$transition: 200ms ease-in-out;