
/// Breakpoints

$large: 1450px;

/// Colours

$page-background: rgb(221, 221, 221);

$light: #fff;

$dark: #000;
$dark-background: rgba(0,0,0,0.12);

$nav-background: #212121;

$primary: rgb(104, 59, 183);
$primary-darker: rgb(81, 46, 168);
$primary-background: rgba(104, 59, 183, 0.25);

$secondary: rgb(255, 87, 34);
$secondary-darker: rgb(219, 57, 8);


/// Misc

$border-radius: 0.25rem;
$box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
$transition: 200ms ease-in-out;